@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Exo:wght@300&family=Handlee&family=Inter&family=Just+Another+Hand&family=Poppins&family=Roboto:wght@700&display=swap");

/* Code Added by Lukman Begins */
.text-shift:hover::placeholder {
  transform: translate(5px, 0);
}

/* Code Added by Lukman Ends */

* {
  font-family: "crete round", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* outline: 1px solid #f00 !important;
  opacity: 1 !important; */
}

:root {
  --main-bg-color: #3c3a39;
  --main-heading-color: #ff6b00;
  --main-text-color: #1c1a19;
  --secondary-heading-color: #1c1a19;
  --secondary-text-color: #fff;

  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.5em;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

p.card {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
}

p.feature {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #1c1a19;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

.header-sticky {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-nav {
  position: relative;
}

.item-nav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 10% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.item-nav li {
  border-bottom: 1px #f7f7f9 solid;
  width: 100%;
}

.message-item {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

nav.logo {
  width: 77px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.toggle {
  position: relative;
}

.toggle-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .btn-open {
  display: none;
}

.btn-close {
  display: none;
} */

button.toggle {
  background-color: #3c3a39;
  cursor: pointer;
  margin: 0 24px 4px;

  /* z-index: 99129; */
  color: white;
  font-size: 16px;
  padding: 8px;
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 5px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 590px;
  padding: 120px 24px 0 24px;
  background-color: #1c1a19;
  gap: 12px;
  background-image: url("./asset/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.one {
  font-family: "crete round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.two {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.social-container {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
  padding: 3px;
}

/* Section 2 - Works */
.work-container {
  display: grid;
  align-items: center;

  /* padding: 8%; */
  margin: 10% 5%;
  gap: 80px;
}

h2.recent-work {
  font-size: 1.17rem;
  line-height: 52px;
  align-items: center;
  display: flex;
  color: var(--main-text-color);
  padding: 24px;
  border-bottom: #212121 solid 1px;
}

.title > hr {
  height: 1;
  color: black;
  width: 60%;
}

span.recent {
  display: none;
  color: red;
  background: #212121;
  height: 1px;
  width: 70%;
}

/* Flexbox for containers inside the work section container */
.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-right-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 14px;
}

h3.feature {
  display: flex;
  align-items: center;
  font-size: 1.12rem;
  line-height: 52px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-tags {
  display: flex;
  list-style-type: none;
  margin-right: auto;
  column-gap: 4px;
  flex-direction: row;
  color: #091e42;
}

.feature-tags li {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  padding: 5px 8px;
  border: 1px solid #8993a4;
  background: white;
}

.btn,
.action-btn {
  display: flex;
  padding: 20px;
  gap: 10px;
  color: white;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  max-height: 48px;
  background: #f55800;
  width: 167px;
  height: 58px;
  cursor: pointer;
}

.action-btn {
  width: 100%;
}

.btn:hover,
.action-btn:hover {
  font-size: 14px;
  transition: all .2s;
  color: #fff;
  background: #fff5e1;
  border: 1px solid #f55a00a4;
}

.btn:active,
.action-btn.active {
  color: #f4f1f0;
  background: #e05304;
}

.card-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 0 10% 0;
}

.card-item {
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 435px;
  background:
    linear-gradient(
      179.35deg,
      rgba(38, 38, 38, 0) 0.85%,
      rgba(38, 38, 38, 0.9) 84%
    ),
    url(./asset/cardbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-bg {
  visibility: hidden;
  background-color: #979493;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  opacity: 0.5;
  backdrop-filter: blur(10px);
}

.project-popup {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.project-popup-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid silver;
  width: 95%;
}

.project-detail {
  grid-template-columns: auto;
  display: grid;
  row-gap: 25px;
}

.project-detail .btn {
  display: flex;
  column-gap: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  max-height: 48px;
  background: #f55800;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

h2.popup {
  grid-column: 1 / span 2;
}

p.popup {
  grid-column: 1/-1;
  grid-row: 4 / 5;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #244563;
}

img.popup {
  width: 16px;
  height: 16px;
}

.project-detail > img {
  grid-column: 1/-1;
  grid-row: 3 / 4;
  width: 100%;
  height: auto;
}

.btn-container {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  gap: 24px;
  align-self: end;
  justify-content: center;
}

.btn-container > .btn {
  flex-direction: row;
  width: fit-content;
  margin: 0;
}

.close {
  position: relative;
  color: #67798e;
  float: right;
  font-size: 40px;
  font-weight: 700;

  /* top: -8px; */
  padding: 0;
  margin: 0;
  margin-left: -8px;
  cursor: pointer;
}

.card-item:nth-child(2n + 1) {
  display: none;
}

h3.card {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 0 16px;
}

.tags,
.tech {
  display: flex;
  list-style-type: none;
  gap: 12px;
  flex-direction: row;
  color: #fff;
}

.tags li,
.tech li {
  min-width: fit-content;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: hsl(0deg 0% 13% / 80%);
  color: #fff;
  padding: 10px 12px;

  /* margin: 2px; */
}

.tech {
  grid-column: 1 / span 2;
  margin-right: auto;
}

.tech > li {
  color: #3c3a39;
  background-color: #ffff;
  border: 1px solid #979493;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

/* About Myslef Section */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1c1a19;
  padding: 10% 0 10% 5%;
  background-image: url(asset/about-bg-m.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 100% 20%;
}

.span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(./asset/Frame.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-bottom: 209px;
  border-bottom: #fff solid 1px;
}

.about-txt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}

.about {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  display: flex;
  letter-spacing: 0.37px;
}

.skills-ul {
  display: grid;
  grid-template-rows: auto auto auto;
  margin-top: 70%;
}

.header-li {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

.skills-ul li {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
  padding: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #fff;
}

span {
  padding: 0 12px;
}

.contact {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 5%;
}

/* .contact-me {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
} */

#message {
  color: #3c3a39;
  background: #fbf8f7;
	border-radius: 3px;
	padding: 1rem 1.12rem;
	width: 92%;
  }


label {
  display: none;
}

input {
  padding: 1rem 1.12rem;
  width: 92%;
  border-bottom: 1px solid #dbd8d7;
  background-color: #fff;
}

input::placeholder {
    color: #979493;
  }
.error{
  border-color: #dc3545;
}

input.success:focus,
textarea.success:focus {
  border-color: greenyellow;

}
input.success:focus,
textarea.success:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
.paragraph1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 216px;
  margin: 0 24px 73px;
}

.form-success {
  color: green;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid inherit;
}

.form-fail {
  color: red;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid inherit;
}

.contact .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  min-width: 131px;
  height: 48px;
  background: #ff6b00;
}

footer ul.social-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 40px;

  /* margin: ; */
}

footer ul.social-container li.social {
  color: #505f79;
}

footer div.bottom {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 134px;
  height: 5px;
  margin: 2% 30%;
  background: #0d151e;
  border-radius: 10px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.blur {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    flex-wrap: nowrap;
  }

  .project-detail {
    grid-template-columns: 2fr 1.5fr;
    gap: 25px;
  }

  .project-detail img {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  p.popup {
    grid-row: 3/4;
    grid-column: 2/-1;
  }

  .btn-container {
    grid-row: 4/5;
    grid-column: 2/-1;
    justify-content: flex-start;
  }

  button.toggle,
  footer div.bottom {
    display: none;
  }

  ul.item-nav {
    align-items: center;
  }

  .message-item {
    display: flex;
  }

  .hero-container {
    background-image: url("./asset/hero.svg");
    display: flex;
    background-position-x: right;
    background-size: contain;
    margin: 0;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .one,
  .two,
  .detail {
    width: 60%;
  }

  .one {
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .social-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 10%;
  }

  .hero1 {
    display: flex;
    flex-direction: column;
    flex: -1;
  }

  .hero2 {
    display: flex;
    height: auto;
    width: 40%;
    justify-content: flex-end;
  }

  p.detail {
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .item-nav {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    height: 80px;
    position: relative;
    width: auto;
  }

  .item-nav li {
    border-bottom: none;
  }

  h2.recent-work {
    border: 0;
    flex: -1;
    font-size: 1.7rem;
    line-height: 52px;
  }

  .title > hr {
    height: 1px;
    background-color: #212121;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span.recent {
    display: flex;
  }

  .about-container {
    background-image: url(asset/about-bg.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 15%;
  }

  .featured-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 14px;
  }

  .featured-card img {
    grid-column: 1/ span 2;
    grid-row: 1/-1;
  }

  .featured-card h3,
  .featured-card p,
  .featured-card .feature-tags,
  .featured-card .btn {
    grid-column: 3/ -1;
    grid-row: auto;
  }

  .featured-card p,
  .featured-card h3 {
    padding: 0;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .about-hr {
    width: 80%;
    background-color: #fff;
    height: 1px;
    margin: 10% 5%;
  }

  .about-me > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .feature-tags li {
    margin-right: 14px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: auto;
  }

  .work-container {
    padding: 0;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid var(--bs-gray-dark);
    cursor: pointer;

    /* margin: 5px auto; */
    transition: 0.4s linear;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(20px);
  }

  .action-btn {
    align-content: flex-end;
  }

  .image > img {
    float: right;
  }

  .right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./asset/card-bg.svg);
    background-position-x: 0;
    gap: 14px;
  }

  .right-block:hover,
  .right-block:focus {
    background-color: rgb(31 38 135 / 37%);
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }

  p.card {
    font-size: 17px;
    padding: 0 16px;
  }

  .tags {
    display: flex;
    width: 90%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    flex-direction: row;
    margin: auto auto 10px 10px;
  }

  .card-item:nth-child(2n) {
    display: none;
  }

  .card-item:nth-child(2n + 1) {
    display: flex;
    flex-direction: column;
    min-height: 435px;
    align-self: flex-end;
    justify-content: end;
    margin-right: auto;
  }

  .card-item:nth-child(1) {
    background-image: url(./asset/1.svg);
  }

  .card-item:nth-child(3) {
    background-image: url(./asset/2.svg);
  }

  .card-item:nth-child(5) {
    background-image: url(./asset/3.svg);
  }

  .card-item:nth-child(9) {
    background-image: url(./asset/2.svg);
  }

  .card-item:nth-child(11) {
    background-image: url(./asset/3.svg);
  }

  .skills-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: auto 10%;
    margin-top: 10px;
  }

  .skills-ul li {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .horizontal {
    display: flex;
    padding: 10%;
  }

  .contact-me {
    align-items: flex-start;
    gap: 14px;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    align-items: baseline;
    padding: auto 10%;
  }

  p.paragraph1 {
    font-weight: 700;
    line-height: 52px;
    padding: 0;
    align-content: flex-start;
    text-align: left;
  }

  footer {
    margin: 0;
    border-top: #0d151e 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
  }

  footer > ul.social-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  footer > ul.social-container > li > a {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .hero-container {
    background-size: 20%;
  }
}